h1 {
  font-family: "Times New Roman", Times, serif;
  color: rgb(8, 98, 98);
}

.menu {
  display: block;
}
.menu-item {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.menu-item:hover {
  background: #f0f0f0;
}

.menu.active {
  display: block;
}
